[phases.setup]
nixPkgs = ["nodejs-20_x", "npm", "chromium", "chromedriver"]

[phases.install]
cmds = [
  "npm install",
  "npx prisma generate"
]

[phases.build]
cmds = [
  "npm run build"
]

[start]
command = "npm run start"

[healthcheck]
path = "/health"
timeout = 120

